<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>803943150446-24g52ts9du2hvlgp1s0snjm9i4i6crrs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.803943150446-24g52ts9du2hvlgp1s0snjm9i4i6crrs</string>
	<key>API_KEY</key>
	<string>AIzaSyDHQGyl9YOBgUIQCYMOlvmg9gRgHDFU9o8</string>
	<key>GCM_SENDER_ID</key>
	<string>803943150446</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kromah.derivative.CheckTrip</string>
	<key>PROJECT_ID</key>
	<string>checktrip-8ea3a</string>
	<key>STORAGE_BUCKET</key>
	<string>checktrip-8ea3a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:803943150446:ios:77b49ca157baeffd</string>
	<key>DATABASE_URL</key>
	<string>https://checktrip-8ea3a.firebaseio.com</string>
</dict>
</plist>